

<div class="left">
  <div class='regNums'>
   <form action="/registration-number" method="POST">
     <header class='regLab' for="plateNum">Registration Number:</header>
    
  
     <div class='block'>

       <input class='number' type="text" name='numberPlate'maxlength='15' placeholder="CA 123-456"></div>
       <div class='errorElem'>{{#if messages.error}}
         <div class='error'>
           <h3>{{messages.error}}</h3>

         </div>{{/if}}
       </div>

        <div class='successElem'>{{#if messages.success}}
         <div class='success'>
           <h3>{{messages.success}}</h3>

         </div>{{/if}}
       </div>
     
     <div class='add'><button><p>Add <i class="fas fa-plus fa-1x"></i></p></button></div>   
   </form>
   <form action="/reset" method="POST" onsubmit="return confirm('Are you sure you want reset the page?');"><div class='reset'><button>Reset <i class='fas fa-trash-alt'></i></button></div></form>
     </div>
   
   <div class='bottom'>
     {{#each allPlates}}
  <div class='plates'><h2>{{registration}}</h2><form action="delete/{{registration}}" method="POST" onsubmit="return confirm('Are you sure you want to delete the {{registration}} registration number?');">
   <button class="delete" onclick="this.parentElement.style.display='none';&times;">X</button>
  </form></div>
   {{/each}}

</div>
  </div>
<div class="right">
  
<div class='filterbox'>
  <h1>Filter</h1>
  <br>
  
<label for="location"><h2>Location:</h2></label>

<form action="/location" method="POST">
  <select name="location" onchange='this.form.submit()' >
    <option value="All">All</option>
    {{#each filterList}} 
    <option value="{{code}}" name='locations' {{selector}}>{{city}}</option>
    {{/each}}
    {{selector}} 
  </select>
    <noscript><input type="submit"></noscript>
  </form>


  </div>

  <div class='reg-list'>
    <h1>Western Cape Registration Codes </h1>
    <div class='heads'>
    <div class='head1'><h3>Code</h3></div>
    <div class='head2'><h3>Location</h3></div>
    </div>
    <div class='city-list'>

                {{#each allCities}}

  <div class="column1">{{code}}</div>
  <div class="column2">{{city}}</div>

   {{/each}}
</div>


  </div>
</div>

